* {
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.canvas-container {
    padding: 30px;
    /* background-color: rgb(154, 211, 152); */
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.canvas {
    border: 2px solid black;
    padding: 20px;
    background: rgb(75, 75, 182);
    z-index: 100;
    border: 3px solid black;
}