* {
    margin: 0;
    padding: 0;
}

.container {
    max-height: 100vh;
    width: 60%;
    margin: 50px auto;
}

.rom-container ul {
    display: flex;
    list-style: none;
    gap: 10px;
    /* border: 2px solid red; */
    align-items: center;
    padding-bottom: 5px;
}

.rom-container ul li {
    padding: 5px;
    background: rgb(215, 215, 215);
    border-radius: 5px;
    cursor: pointer;
}

.rom-container {
    width: 100%;
}

.canvas-container {
    padding: 10px;
    /* background-color: rgb(154, 211, 152); */
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.canvas {
    border: 2px solid black;
    padding: 10px;
    background: rgb(75, 75, 182);
    z-index: 100;
    border: 3px solid black;
}